<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>Insert New Computer</title>
</head>
<body>
<form th:object="${newComputer}" th:action="@{/update/{id}(id=${newComputer.id})}" method=POST> 
 Make: <input name="make" size="25" th:field= "*{make}"><br />
 Model: <input name="model" size="25" th:field= "*{model}"><br />
 Year: <input name="year" size="4" th:field= "*{year}"><br />
 List Price: <input name="listPrice" size="20" th:field= "*{listPrice}"><br />
 Name: <input name="manufacturer.name" size="40" th:field= "*{manufacturer.name}"><br />
 City: <input name="manufacturer.city" size="25" th:field= "*{manufacturer.city}"><br />
 State: <input name="manufacturer.state" size="20" th:field= "*{manufacturer.state}"><br />
 <input name= "submit" type= "submit" value= "submit" /> 
 </form>
<a href= "viewAll" >View all Computers</a><br />
</body>
</html>